<div class="content container px-5 mb-5" id="page-content-wrapper">
  <header class="offset-y"></header>
  <div class="fw-medium px-2 mx-1 pb-3 mb-1">
    <h1 class="fs-1 fw-medium mb-0">Доходы</h1>
  </div>

  <div class="container px-2 mx-1 pt-3 mt-1">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3">
      <div class="col">
        <div class="card rounded-3">
          <div class="card-body">
            <div class="card-title mb-2 mt-1 fs-3 text fw-medium">
              Инвестиции
            </div>
            <div class="d-flex mb-1 align-items-center">
              <button type="button" class="income-edit btn btn-lg btn-primary fs-14">
                Редактировать
              </button>
              <button
                type="button"
                class="btn btn-lg btn-danger ms-2 fs-14"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Удалить
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-3">
          <div class="card-body">
            <div class="card-title mb-2 mt-1 fs-3 text fw-medium">
              Сбережения
            </div>
            <div class="d-flex mb-1 align-items-center">
              <button type="button" class="income-edit btn btn-lg btn-primary fs-14">
                Редактировать
              </button>
              <button
                type="button"
                class="btn btn-lg btn-danger ms-2 fs-14"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Удалить
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-3">
          <div class="card-body">
            <div class="card-title mb-2 mt-1 fs-3 text fw-medium">Зарплата</div>
            <div class="d-flex mb-1 align-items-center">
              <button type="button" class="income-edit btn btn-lg btn-primary fs-14">
                Редактировать
              </button>
              <button
                type="button"
                class="btn btn-lg btn-danger ms-2 fs-14"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Удалить
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-3">
          <div class="card-body">
            <div class="card-title mb-2 mt-1 fs-3 text fw-medium">Депозиты</div>
            <div class="d-flex mb-1 align-items-center">
              <button type="button" class="income-edit btn btn-lg btn-primary fs-14">
                Редактировать
              </button>
              <button
                type="button"
                class="btn btn-lg btn-danger ms-2 fs-14"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Удалить
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-3 h-100">
          <div class="card-body">
            <a
              href="#/income/create"
              class="d-flex justify-content-center align-items-center w-100 h-100"
            >
              <i class="bi bi-plus-lg text-black-50"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offset-y"></div>
</div>

<!-- Модальное окно -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body px-4 pt-4 pb-1 m-3">
          Вы действительно хотите удалить категорию? Связанные доходы останутся
          без категории.
        </div>
        <div
          class="modal-footer justify-content-center gap-2 pt-0 mx-3 px-4 mb-3 pb-4 border-0"
        >
          <button type="button" class="btn btn-lg btn-success rounded-2 fs-14">
            Да, удалить
          </button>
          <button
            type="button"
            class="btn btn-lg btn-danger rounded-2 fs-14"
            data-bs-dismiss="modal"
          >
            Не удалять
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
