<div class="content container px-5 mb-5 " id="page-content-wrapper">
  <header class="offset-y"></header>
  <div class="fw-medium px-2 mx-1 pb-2 mb-1">
    <h1 class="display-6 fw-medium mb-0">Главная</h1>
  </div>
  <div
    class="buttons-filter d-flex align-items-center flex-wrap gap-3 px-2 mx-1 my-5"
  >
    <button class="btn btn-secondary px-2 fw-medium" type="button">
      Сегодня
    </button>
    <button class="btn btn-outline-secondary px-2 fw-medium" type="button">
      Неделя
    </button>
    <button class="btn btn-outline-secondary px-2 fw-medium" type="button">
      Месяц
    </button>
    <button class="btn btn-outline-secondary px-2 fw-medium" type="button">
      Год
    </button>
    <button class="btn btn-outline-secondary px-2 fw-medium" type="button">
      все
    </button>
    <button class="btn btn-outline-secondary px-2 fw-medium" type="button">
      Интервал
    </button>


    <div class="d-flex align-items-center">
      <label class="fw-medium text-black" for="dateInputFrom">с</label>
      <input
        type="text"
        style="outline: none;"
        id="dateInputFrom"
        class="px-1 py-1 text-center text-secondary fw-medium text-decoration-underline border-0 form-control datepicker-input dynamic-width-input"
        placeholder="Дата"
      />
      <label class="fw-medium ms-2 text-black" for="dateInputTo">по</label>
      <input
        type="text"
        style="outline: none;"
        id="dateInputTo"
        class="px-1 py-1 text-center text-secondary fw-medium text-decoration-underline border-0 form-control datepicker-input dynamic-width-input"
        placeholder="Дата"
      />
    </div>

  </div>
  <div class="offset-y d-none d-lg-block"></div>
  <div class="charts d-flex  align-items-center justify-content-center justify-content-xxl-start flex-column flex-xl-row flex-wrap gap-3 px-2 mx-1 pt-4">
    <div class="py-1 ps-4 pe-5 mb-5 position-relative"> 
      <div class="chart1_container">
        <canvas id="chart1" style="width: 437px"></canvas>
      </div>
    </div>
    <div class="d-none  d-xxl-block align-self-stretch py-1 border-1 border-end border-black-50"></div>
    <div class="py-1 pe-4 ps-5 mb-5  position-relative">
      <div class="chart2_container">
        <canvas id="chart2" style="width: 437px"></canvas>
      </div>
    </div>
  </div>
  <div class="offset-y"></div>
</div>
